---
import setParameter from '@apostrophecms/apostrophe-astro/lib/aposSetQueryParameter.js';
import BlogCard from '../components/BlogCard';
import BlogPagination from '../components/BlogPagination';

const {
  page,
  user,
  query,
  piecesFilters,
  pieces,
  currentPage,
  totalPages
} = Astro.props.aposData;

const pages = [];
for (let i = 1; i <= totalPages; i++) {
  console.log(page, currentPage)
  pages.push({
    number: i,
    current: i === currentPage,
    url: setParameter(Astro.url, 'page', i),
  });
}
---
<style>
  h2 {
    text-align: center;
  }
</style>

<section class='bp-content'>
  <h1 class='h1'>{page.title}</h1>

  <h2 class='h2'>Blog Posts</h2>

  {pieces.map((piece) => <BlogCard blog={piece} client:load />)}

  <BlogPagination pages={pages} client:load />
</section>
